<div class="container">
  <header>
    <h1 class="headimg">Angular Training Assignment</h1>
  </header>
  <nav class="nav-list">
    <ul id="list-items">
      <li class="route1">
        <a routerLinkActive="active" routerLink="/routeOne">Route 1</a>
      </li>
      <li class="route2">
        <a routerLinkActive="active" routerLink="/routeTwo">Route 2</a>
      </li>
      <li class="route3">
        <a routerLinkActive="active" routerLink="/routeThree">Route 3</a>
      </li>
      <li class="route4">
        <a routerLinkActive="active" routerLink="/routeFour">Route 4</a>
      </li>
      <li class="route5">
        <a routerLinkActive="active" routerLink="/routeFive">Route 5</a>
      </li>
      <li class="route6">
        <a routerLinkActive="active" routerLink="/routeSix">Route 6</a>
      </li>
    </ul>
  </nav>
  <div class="route-content">
    <router-outlet></router-outlet>
  </div>
</div>
